#footer{
    display: flex;
    flex-direction: column;
    padding: 3rem 3rem;
}
#footer span{
    font-size: 0.7rem;
    color: var(--black);
}
#footer a{
    font-size: 0.7rem;
    font-style: normal;
    transition: .3s ease-in-out;
}
#footer a:hover{
    color: var(--purple);
}

@media (min-width:60rem){
    #footer a{
        font-size: 1.4rem;
    }
    #footer span{
        font-size: 1.4rem;
    }
}
@media (min-width:30rem) and (max-width:60rem) {
    #footer a{
        font-size: 1rem;
    }
    #footer span{
        font-size: 1rem;
    }
}