@import url(main.css);
#home{
    text-align: left;
    width: 80%;
    max-width:55rem ;
    margin: 0 auto;
    padding: 19rem 0;
}
#title{
    font-size: 3rem;
}
  
@media (min-width:60rem){
    #title{
        font-size: 10rem;
    }
}
@media (min-width:30rem) and (max-width:60rem) {
    #title{
        font-size: 6rem;
    }
}