@import url(main.css);
#home{
    text-align: left;
    width: 80%;
    max-width:55rem ;
    margin: 0 auto;
    padding: 10% 0;
}
#home>div{
  display: flex;
  align-items: top;
}
#title{
    font-size: 4rem;
    min-height: 4rem;
}
.typed-cursor {
  font-size: 2.5rem;
  color: var(--primary);
  margin: 0;
}
  
@media (min-width:60rem){
    #home{
       padding: 17% 0;
    } 
    #title{
        font-size: 10rem;
        height: 12rem;
    }
    .typed-cursor {
      font-size: 8rem;
    }

}
@media (min-width:30rem) and (max-width:60rem) {
    #home{
      padding: 20% 0;
     }
    #title{
      font-size: 5.2rem;
      height: 6rem;
    }
    .typed-cursor {
      font-size: 4.1rem;
    }
}