:root{
    /* --purple:hsl(273, 75%, 66%); */
    /* --purple:hsl(273, 78%, 78%); */
    --purple:hsl(258, 51%, 63%);
    --black-transparent:rgba(27, 16, 41,0.8);

    /* #af67e9 */
   /*  --pink:#FF3B77; *//* #D904A0; */
    --black:#190F26;
    --gray:#a091b3;
    --primary:#5DFCFF;
    
    --primary-light:#D9FEFF;
    --secondary:#EBE2F3;
}
html{
    box-sizing: border-box;
}
::selection {
    color: #190F26;
    background: hsl(273, 75%, 66%);
  }
*, *::after, *::before{
    box-sizing: inherit;
    scroll-behavior:smooth;
    transition: .3s ease-in-out;
}
body{
    background: linear-gradient(var(--purple),var(--gray));
    font-family: 'Work Sans', sans-serif;
    text-align: center;
    color: var(--primary-light);  
}
section{
    min-height: 80vh;
}
h1,h2,h3,p{
    padding: 0;
    margin: 0;
    font-weight: 500;
}
p{
    font-size: 1.3rem;
}
h2{
    font-size: 3rem;
    padding: 4.5rem 0 4rem 0;
    color: var(--black);
}
h1{
    color: var(--primary);
}
.container{
    margin: 0 auto;
    width: 85%;
    max-width:80rem;
}
.card{
    border-radius: 1.5rem;
    background-color: var(--black);
    padding: 2rem;
    box-shadow: 0px 0px 50px 0 rgba(0, 0, 0, 0.4);
    transition: transform .5s ease-in-out;
}
.card:hover{
    transform: translateY(-0.3rem);
}
.col{
    display: grid;
    margin: 0 auto;
    width: 100%;
    max-width: 60rem;
}
.col-2{
    grid-template-columns: 1fr;
    gap:1.5rem;
}
.col-3{
    grid-template-columns: 1fr;
}

@media (min-width:30rem) and (max-width:50rem) {
    p{
        font-size: 1.4rem;
    }
    h2{
        font-size: 4rem;
        padding: 4.5rem 0 4rem 0;
    }
    .col-3{
        grid-template-columns: 1fr 1fr;
    }
    
}
@media (min-width:50rem) and (max-width:70rem){
    .col-3{
        grid-template-columns: 1fr 1fr;
    }
}
@media (min-width:70rem){
    .card{
        padding: 3rem;
    }
    /* .col-2{
        grid-template-columns: 1fr 1fr 1fr;
    } */
    .col-3{
        grid-template-columns: 1fr 1fr 1fr;
    }
    p{
        font-size: 1.5rem;
    }
    h2{
        font-size: 5rem;
    }
    .col-2{
        grid-template-columns: 1fr 1fr;
    }
}