#my-projects{
    margin-top: 6rem;
}
#my-projects>h2{
    color: var(--black);
}
#project{
    padding: 1rem;
    padding-bottom: 3rem;
    transition: transform .5s ease;
    /* background: var(--primary-light); */
    background: var(--black);
}
#project:hover{
    transform: translateY(-0.3rem);
}
#project:hover .project-img{
    opacity: 1;
}
.project-img{
    opacity: 0.5;
    margin-bottom: 1rem;
    width: 100%;
    border-radius: 1rem;
}
figcaption{
    font-size: 1.3rem;
    display: flex;
    flex-direction: column;
    color: var(--primary-light);
    /* color: var(--black); */
    font-weight: 600;
}
span{
    margin-top: .5rem;
    font-size: 1rem;
    color: var(--primary-light);
    font-weight: 400;
}
details{
    font-size: 1rem;
    font-weight: 300;
    padding: 0.5rem;
    color: var(--gray);
}
summary{
    cursor: pointer;
    font-weight: 500;
    color: var(--gray);
    padding: 0.5rem;
}
summary:hover{
    color: var(--primary);
}
summary::marker{
    content: none;
}
.proj-icon{
    margin-top: 2rem;
    width: 2rem;
    opacity: 0.5;
    transition: transform .5s ease;
}
.proj-icon:hover{
    transform: translateY(-0.3rem);
    opacity: 1;
}
@media (min-width:30rem) {
    figcaption{
        font-size: 1.3rem;
    }
}
@media (min-width:60rem){
    #my-projects>div{
        width: 80%;
    }
    #project{
        width: 100%;
    padding: 1rem;

    }
    figcaption{
        font-size: 1.8rem;
    }
    span{
        font-weight: 300;
        margin-top: .5rem;
        font-size: 1.2rem;
        color: var(--gray);
    }
}